<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>AUTHORS INDEX</title>
</head>
<body>

	<h2> All my Authors </h2>

	<% @authors.each do |author| %>

    <div>
        Name: <%= author.name %> <br>
       
    </div>

<% end %>
	
</body>
</html>