<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>NEW THING</title>
</head>
<body>
		<%= form_for @authors do |f| %>

	    <%= f.text_field :name %>
	    <%= f.submit "save authors" %>

	<% end %>

</body>
</html>