    <!DOCTYPE html>
    <html lang="en">
    <head>
    	<meta charset="UTF-8">
    	<title>Document</title>
    </head>
    <body>
    	<h1> A Particular Author </h1>
    	 <div>
        Name: <%= @author.name %> <br>
    	</div>
    	<a href="/authors"> <button> Authors Home </button> </a>
    </body>
    </html>

   